{% extends "exercises/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!--<h1>{% trans "Sign In" %}</h1>-->

<!--{% get_providers as socialaccount_providers %}-->

<!--{% if socialaccount_providers %}-->
<!--<p>{% blocktrans with site.name as site_name %}Please sign in with one-->
<!--of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>-->
<!--for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->

<!--<div class="socialaccount_ballot">-->

<!--  <ul class="socialaccount_providers">-->
<!--    {% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
<!--  </ul>-->

<!--  <div class="login-or">{% trans 'or' %}</div>-->

<!--</div>-->

<!--{% include "socialaccount/snippets/login_extra.html" %}-->

<!--{% else %}-->
<!--<p>{% blocktrans %}If you have not created an account yet, then please-->
<!--<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>-->
<!--{% endif %}-->

<!--<form class="login" method="POST" action="{% url 'account_login' %}">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  {% if redirect_field_value %}-->
<!--  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
<!--  {% endif %}-->
<!--  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>-->
<!--</form>-->

<!--{% get_providers as socialaccount_providers %}-->

<!--{% if socialaccount_providers %}-->
<!--<p>{% blocktrans with site.name as site_name %}Please sign in with one-->
<!--of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>-->
<!--for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->

<!--<div class="socialaccount_ballot">-->

<!--  <ul class="socialaccount_providers">-->
<!--    {% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
<!--  </ul>-->

<!--  <div class="login-or">{% trans 'or' %}</div>-->

<!--</div>-->

<!--{% include "socialaccount/snippets/login_extra.html" %}-->

<!--{% else %}-->
<!--<p>{% blocktrans %}If you have not created an account yet, then please-->
<!--<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>-->
<!--{% endif %}-->

<div class="d-flex flex-column align-items-center">
    <div class="emoji-login">🙋‍♂</div>
    <div class="annotation col-md-4 px-0 mb-2 text-center">
        I'm already have account
    </div>
    <div class="trait mb-2"></div>
    <div class="row col-md-4">
        <a title="VK" class="socialaccount_provider vk" href="/accountsvk/login/?process=login"><i class="fab fa-vk"></i></a>
    </div>
    <div class="line mt-3 mb-4 d-flex align-items-center justify-content-center"><div class="or mb-1"> or </div></div>
</div>



<form class="form-login login col-md-12" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex flex-column align-items-center">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="col-md-4 px-0 mb-2">{{ error | lower}}</div>
        {% endfor %}
    {% endif %}

    {{ form.login.errors }}
    <input class='form-login-input col-md-4 mb-2' type="text" name="login" id="login" placeholder="Login" required>

    {{ form.password.errors }}
    <input class='form-login-input col-md-4 mb-2' type="password" name="password" id="password" placeholder="Password" required>

    <input type="submit" value="Log In" class='button button-login col-md-4 mb-2'>
    <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
</form>






{% endblock %}
