{% extends "exercises/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center pt-md-11">
    <div class="emoji-login">🙇</div>
    <div class="annotation col-md-4 px-0 mb-2 text-center">
        I'm want to create a new account
    </div>
    <div class="trait mb-2" style="width: 25%"></div>
    <div class="row col-md-4">
        <a title="VK" class="socialaccount_provider vk" href="/accountsvk/login/?process=login"><i class="fab fa-vk"></i></a>
    </div>
    <div class="line mt-3 mb-4 d-flex align-items-center justify-content-center"><div class="or mb-1"> or </div></div>
</div>

<form class="form-login login col-md-12" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex flex-column align-items-center">

    {% if form.username.errors %}
        {% for error in form.username.errors %}
            <div class="login-error col-md-4 mb-2 p-3">{{ error | lower}}</div>
        {% endfor %}
    {% endif %}
    <input class='form-login-input col-md-4 mb-2' type="text" name="username" placeholder="Username"
           autofocus="autofocus" minlength="4" maxlength="150" required="" id="id_username">

    {% if form.password1.errors %}
        {% for error in form.password1.errors %}
            <div class="login-error col-md-4 mb-2 p-3">{{ error | lower}}</div>
        {% endfor %}
    {% endif %}
    <input class='form-login-input col-md-4 mb-2' type="password" name="password1" placeholder="Password" required=""
           id="id_password1" aria-autocomplete="list">

    {% if form.password2.errors %}
        {% for error in form.password2.errors %}
            <div class="login-error col-md-4 mb-2 p-3">{{ error | lower}}</div>
        {% endfor %}
    {% endif %}
    <input class='form-login-input col-md-4 mb-2' type="password" name="password2" placeholder="Password (again)"
           required="" id="id_password2">

    <input type="submit" value="Sign Up" class='button button-login col-md-4 mb-2'>
    </div>
</form>

{% endblock %}
