<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks list</title>
</head>
<body>
{% include 'exercises/includes/users_login_status.html' %}
<form action="task" class="form" method="post">
    {% csrf_token %}
    <div>
        <div>
            <select name="categories">
                {% for category in categories %}
                    <option value="{{ category.url }}">{{ category }}</option>
                {% endfor %}
            </select>
            <select name="level">
                {% for level in levels %}
                    <option value="{{ level }}">{{ level }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="show_task" name="show_task">
        </div>
    </div>
    </form>
</body>
</html>