{% extends 'exercises/base.html' %}

{% block content%}
    <p>{% include 'exercises/includes/users_login_status.html' %}</p>
    <p>Level: {{ level }}</p>
    <p>Solved: {{ solved }}</p>
    <p>{{ description }}</p>
    <p>Ответ {{ answer }}</p>
    <form action="" class="form" method="post">
        {% csrf_token %}
        <input type="text" value="" name="answer">
        <input type="submit" value="send" name="send">
        <input type="submit" value="return" name="return">
        <input type="submit" value="copy" name="copy">
    </form>
    {{ error }}
{% endblock %}
